.product_container {
    justify-content: center;
    display: flex;
    
    .product_img{
        width: 580px;
        height: 600px;
        object-fit: contain;
    }
    .container_img{
        width: 580px;
        padding-left: 20px;
    }
    .container_card{
        width: 885px;
        background-color: $white;
        border-bottom: 1px solid $secondary;
    }
    .container_img_title {
        flex-direction: row;
        display: flex;
    }
    .container_price_title{
        align-content: center;
        padding: 30px;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        width: 60%;
    }
    .product_price{
        font-size: 36px;
        font-weight: 400;
        line-height: 1.25;
    }
    .product_title{
        font-weight: bold;
        font-size: 20px;
        line-height: 1.3;
        color: $text;
    }
    .product_buy{
        background-color: $blue;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 600;
        height: 48px;
        color: $white;
        border: none;
        margin-top: 50px;
        cursor: pointer;
    }
    .product_description {
        color: $text_secondary;
    }
}
